/* NAV BAR START */
.closeMenu {
  display: none;
}

.menu-bars {
  display: none;
}

.top-header {
  display: block;
  padding-right: 150px;
  width: 100%;
  margin: 0;
  height: 50px;
  background: #3e3e3e;
}

.top-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.top-wrapper > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-content: space-between;
  cursor: pointer;
}

.link-rx > li {
  padding-left: 15px;
}

.link-rx > li > a {
  text-decoration: none;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.link-info > li {
  padding-left: 15px;
  color: #fff;
  font-family: 'Lato', sans-serif;
}

.nav-bar {
  font-family: 'Lato', sans-serif;
  padding-right: 150px;
  padding-left: 150px;
  height: 70px;
  background: #fff;
  display: flex;
  flex-direction: row;
}

.logo {
  flex: 5;
  align-self: center;
}

.menu-overlay {
  justify-content: flex-end;
  align-self: center;
  display: block;
}

.nav-list > li {
  padding-left: 10px;
  font-size: 17px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav-list > li > a {
  text-decoration: none;
  color: black;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.fcontainer > .flogo > a {
  text-decoration: none;
}

.nav-list > li > a:hover {
  color: #d84d40;
}

.nav-list > li > a:active {
  color: #d84d40;
}

/* NAV BAR END */

/*** WELCOME CONTAINER  ***/
.logo-effect:hover {
  transition-duration: 1s;
  transform: rotate(360deg);
}

.welcome-container {
  background-image: url("../images/bg/header.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 100px;
  height: auto;
  padding-bottom: 200px;
  padding-right: 150px;
  padding-left: 150px;
}

.welcome-container > h3 {
  font-family: 'Lato', sans-serif;
  padding: 0 0 0 20px;
  color: #d84d40;
  font-weight: 500;
  font-size: 40px;
  margin-top: 0;
}

.welcome-container > h1 {
  font-family: 'COCOGOOSE', sans-serif;
  padding: 0 0 0 20px;
  color: #ec5242;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 0;
}

.conference-description {
  font-family: 'Lato', sans-serif;
  border: 3px solid white;
  padding: 10px 10px;
  margin: 0 30px 0 30px;
  font-size: 18px;
  width: 50%;
}

.conference-date {
  font-family: 'COCOGOOSE', sans-serif;
  line-height: 38px;
  font-size: 1.8rem;
  margin: 15px 30px 0 30px;
  font-weight: 600;
  color: #504f4f;
}

.conference-venue {
  font-family: 'Lato', sans-serif;
  line-height: 1.2;
  margin: 15px 30px 0 30px;
  color: #504f4f;
  font-size: 20px;
}

/*** WELCOME CONTAINER CLOSE **/

/*** Main Porgram **/
.program-wrapper {
  background-image: url("../images/bg/program-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
  height: 700px;
}

.main-title {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.main-title h2 {
  font-family: 'Lato', sans-serif;
  color: #fff;
  margin: 20px;
  font-weight: normal;
}

.program-line {
  width: 25px;
  height: 3px;
  background-color: #ec5242;
}

.program-main {
  display: flex;
  flex-direction: row;
  padding-right: 150px;
  padding-left: 150px;
  margin-bottom: 40px;
  margin-top: 40px;
  justify-content: center;
}

.program-item {
  background-image: url("../images/bg/program-sgle.jpg");
  background-repeat: repeat;
  margin: 0 0 0 15px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  color: #fff;
  height: 300px;
  width: 500px;
  font-size: 17px;
  align-items: center;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.program-item:hover {
  transform: scale(1.1);
  border: 2px solid #fff;
}

.program-column > div {
  color: #ec5242;
  font-size: 20px;
  font-weight: bold;
  word-wrap: break-word;
}

.program-column {
  margin: 15px;
}

.see-more-programs {
  margin: 0 auto;
  height: 70px;
  background: #ec5242;
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 24px;
  padding-top: 20px;
  width: 400px;
}

/****  Main Program Close  ***/

/*** Featured speakers **/

.speakers-main {
  display: grid;
  grid-template-columns: auto auto;
}

.speakers-wrapper {
  padding-left: 150px;
  padding-right: 150px;
}

.speakers-title h2 {
  font-family: 'Lato', sans-serif;
  margin: 20px;
  font-weight: normal;
}

.speakers-title {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.speaker-content {
  height: auto;
  background: white;
  margin: 15px 15px 10px 15px;
  border-bottom: solid;
  border-color: rgb(219, 214, 214);
  border-width: 1px;
  display: grid;
  grid-template-columns: auto auto;
  padding-bottom: 5px;
}

.speaker-image {
  max-width: 120px;
  max-height: 120px;
}

.speaker-details {
  padding-left: 10px;
  font-family: 'Lato', sans-serif;
}

.speaker-title {
  color: #ec5242;
}

.speaker-website {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.speaker-content:last-child {
  border-bottom: none;
}

.speaker-content:nth-last-child(2) {
  border-bottom: none;
}

/*** Featured speakers closed **/

/**** Partners Start **/

.partners-wrapper {
  background: #535256;
  height: auto;
}

.partners-main img {
  filter: invert(1%) sepia(0%) saturate(0%) hue-rotate(311deg) brightness(102%) contrast(105%);
}

.partners-main {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.partners-item {
  padding: 30px;
}

/*** Partners End ***/

/*** Footer Start ***/
.fcontainer {
  font-family: 'Lato', sans-serif;
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 15px;
  height: 150px;
}

.writeup {
  padding-left: 5px;
  font-size: 24px;
  align-self: center;
  justify-content: end;
  width: 100%;
  margin-left: 10px;
}

.flogo {
  align-self: center;
  font-weight: 600;
  font-size: 24px;
  width: 100%;
  text-align: end;
}

/***  Footer End  **/

/** About Conference */

.about-conference-description {
  font-family: 'Lato', sans-serif;
  border: 3px solid white;
  padding: 10px 10px;
  margin: 0 30px 0 30px;
  font-weight: normal;
  font-size: 18px;
  background: #fff;
}

/*** About Conference End **/

/*** Past Events Page **/

.info {
  font-family: 'Lato', sans-serif;
  text-align: center;
  padding: 0 30px 0 30px;
}

.mabout {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.past-wrapper {
  background: #fff;
  height: auto;
  font-family: 'Lato', sans-serif;
  margin-left: 10px;
  margin-right: 10px;
}

.past-wrapper > .header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: center;
}

.past-wrapper > .header > h1 {
  font-weight: 500;
  font-size: 18px;
}

.event1 {
  background-image: url(../images/2019.png);
  height: 200px;
  width: 400px;
  opacity: 0.5;
  margin: 40px 0 10px 10px;
  justify-self: end;
  border-radius: 10px;
}

.event2 {
  background-image: url(../images/2020.png);
  height: 200px;
  width: 400px;
  opacity: 0.5;
  margin: 40px 10px 10px 20px;
  justify-self: start;
  border-radius: 10px;
}

.events {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 300px;
}

.past-event {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  height: 200px;
}

.event-text {
  margin: 0 auto;
  padding-top: 35px;
  text-align: center;
}

/***  Past Events page end  **/
